.markdown {
  display: block;
  word-wrap: break-word;
  color: #333;
  line-height: 1.7;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.markdown h1 {
  margin-bottom: 1em;
}

.markdown h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.markdown h3,
h4,
h5,
h6 {
  margin-bottom: 0.85em;
}

.markdown blockquote {
  margin: 0;
  margin-bottom: 0.85em;
  padding: 0 15px;
  color: #858585;
  border-left: 4px solid #e5e5e5;
}

.markdown p code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: #e5e5e5;
  border-radius: 6px;
}

.markdown pre {
  overflow: auto;
  word-wrap: normal;
  margin: 0;
  padding: 0.85em 1em;
  margin-bottom: 1.275em;
  background: #f7f7f7;
  font-size: 0.8rem;
}

.markdown img {
  display: block;
  margin: 40px auto 10px;
  border: 1px solid #d3d3d3;
  max-width: 100%;
  border: 0;
}

.markdown figcaption {
  margin: 0 0 40px 0;
}

.markdown .flex {
  display: flex;
}

.markdown .center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.markdown .katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}